#autoc-bus {
    background: rgba(109, 146, 155, 0.75);
    padding: 0.75rem;
    border: 1px solid rgba(109, 146, 155, 1);
    height: auto;
}

#autoc-bus span {
    font-size: 0.95rem;
    color: #393939;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 600;
}

#autoc-bus input {
    padding: 0.7rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid #f1f1f1;
}

#servsel, #locsel {
    width: 100%;
    margin-bottom: 1rem;
}

#autoc-bus span.info {
    color: #fff;
    margin-top: 0.5rem;
}

#busact {
    width: 100%;
    padding: 0.575rem 0.5rem;
}

#autoc-serv, #autoc-loc{
    background: #fff;
    border-radius: 4px;
    height: auto;
    margin-top: 0.25rem;
    position: relative;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    border: 1px solid #e1e1e1;
    display: none;
    padding: 0.75rem 0rem;
    z-index: 99;
}

#autoc-loc {
    max-height: 15rem;
    overflow-y: scroll;
}

#auto-list-serv, #auto-list-estb, #auto-list-loc {
    list-style: none;
    font-size: 0.9rem;
    margin-left: 0;
    margin-bottom: 0;
}

#auto-list-loc {
    padding-bottom: 0.25rem;
}

#autoc-bus ul li {
    padding: 0.2rem 0.5rem;
    line-height: 1.4;
    cursor: pointer;
    color: #595959;
}

#autoc-bus ul li:hover:not(.info-sug) {
    background: #f1f1f1;
    color: #000;
}

#autoc-bus ul li:hover a i{
    color: #008cba;
}

#autoc-bus span i {
    color: #c1c1c1;
}

.br-auto {
    border-right: 1px solid #e1e1e1;
}

#auto-sug {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

::placeholder {
    color: #898989;
    font-size: 15px;  
}

#autoc-bus h1 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

#autoc-bus li strong{
    color: #393939;
}

#autoc-bus a i {
    font-size: 1.2rem;
    color: #aaa;	
}

#autoc-bus ul li a{
    padding: 0 0.25rem;
}

#autoc-bus li.info-sug {
    font-weight: bold;
    cursor: default;
}

#autoc-bus.p2 {
    padding: 1.75rem 1rem;
}

@media screen and (min-width: 64em) {

    #autoc-bus h1 {
        font-size: 1.3rem;
    }

    #autoc-bus input {
        padding: 0.5rem;
    }

    #autoc-bus {
        padding: 1.5rem 2rem 2rem;
        max-height: 9.5rem;
        height: 10.5rem;
    }

    #servsel, #locsel{
        margin-bottom:0.05rem;
    }

    #autoc-serv .columns, #autoc-loc .large-12 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    #busact {
	width: 100%;
    }

    #autoc-serv{
        width: 80%;
    }

    #autoc-loc{
        width: calc(100% - 13% - 48%);
    }

    #servsel {
        width: 45%;
        margin-right: 1%;
    }

    #locsel {
        width: 39%;
        margin-right: 1%;
    }
}