#header {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
}

.actcont .act {
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.pagination li a {
	color: #999;
	display: block;
	font-size: 1.2rem;
	;
	font-weight: 400;
	padding: .125rem .9rem;
}

.pagination li.unavailable span {
	padding: .125rem .9rem .0825rem;
	cursor: default;
	color: #999;
	pointer-events: none;
}

.pagination li.current span {
	background: #008CBA;
	color: #fff;
	cursor: default;
	font-weight: 700;
	line-height: inherit;
	display: block;
	border-radius: 4px;
}

.pagination li.arrow a,
ul.pagination li.arrow span {
	font-size: 1.5rem;
}

.pagination li span {
	font-size: 1.2rem;
	padding: .125rem .9rem;
}

.menu {
	width: 0;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: .1s;
	position: fixed;
	height: 100%;
	z-index: 100;
	background-color: #f3f3f3;
	padding-top: 55px;
	border-right: 1px solid #e9e9e9;
	display: block;
}

.menu .closebtn {
	padding: 0 8px;
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 36px;
	font-weight: 700;
	background: inherit;
	color: #c1c1c1;
}

.menu a:not(.closebtn) {
	border-top: 1px solid #fff;
}

.menu a {
	padding: 1rem;
	text-decoration: none;
	font-size: 0.95rem;
	color: #595959;
	display: block;
	transition: .1s;
	margin: 0;
	text-align: center;
}

.menu a i {
	color: #6D929B;
}

.menu #autoc-bus {
	margin: 0 0 1.5rem;
}

#he-buscar {
	background: #fff;
	border: 1px solid #e1e1e1;
	margin: 0.75rem 1rem;
	align-items: center;
	display: flex;
}

#he-buscar input {
	width: 100%;
	flex: 1 1 auto;
	border: none;
	padding: 0.5rem 1rem;
}

#autoc-bus #he-buscar span {
	border-right: 1px solid #000;
	display: block;
	height: 1rem;
	border-color: #e1e1e1;
	margin-top: 0.5rem;
}

#he-buscar button {
	background: #fff;
	border: none;
	padding: 0 1rem;
	cursor: pointer;
}

#he-buscar button i {
	color: #898989;
}

#he-buscar button:hover i {
	color: #008cba;
}

#he-buscar input:focus,
#he-buscar button:focus {
	outline: none;
}

#auto-list-serv,
#auto-list-estb {
	list-style: none;
	font-size: 0.9rem;
	margin-left: 0;
	margin-bottom: 0;
}

#autoc-bus span i {
	color: #c1c1c1;
}

#autoc-bus {
	padding-top: 0.15rem;
}

#autoc-serv, #autoc-loc, .autoc-loc {
	display: flex;
	background: #fff;
	position: absolute;
	z-index: 99;
	border: 1px solid #e1e1e1;
	padding: 1rem 0;
	margin: -5px 0.5rem 0;
}

#autoc-bus span {
	border-top: 1px solid #e1e1e1;
	padding-top: 0.5rem;
	margin-top: 0.5rem;
}

#autoc-bus div:first-child span {
	border-top: none;
	padding-top: 0;
	margin-top: 0.5rem;
}

#autoc-bus ul {
	list-style: none;
}

#servsel,
#locsel  {
	margin-bottom: 0.05rem;
}

#autoc-serv .columns, #autoc-loc .columns, .autoc-loc .columns {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

#autoc-bus span {
	font-size: 0.95rem;
	color: #393939;
	margin-bottom: 0.5rem;
	display: block;
	font-weight: 600;
	line-height: 1.5;
	padding-left: 0.2rem;
}

#autoc-bus span i {
	color: #c1c1c1;
	margin-right: 2px;
}

#autoc-bus ul {
	margin-top: 0;
}

::placeholder {
	color: #999;
	font-size: 0.95rem;
}

#comentarios {
	margin: 1.5rem 0 0.5rem;
}

#cnth #servsel,
#cnth #locsel {
	margin-bottom: 0.5rem;
}

#cnth #autoc-bus {
	padding-top: 1rem;
}

#cnth #autoc-bus input {
	border-radius: 4px;
}

.autoc-loc {
	background: #fff;
	border-radius: 4px;
	height: auto;
	margin-top: 0.25rem;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border: 1px solid #e1e1e1;
	display: none;
    padding: 0.75rem 0rem;
    max-height: 15rem;
	overflow-y: scroll;
	z-index: 99;
}

.auto-list-loc {
	list-style: none;
	font-size: 0.9rem;
	margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0.25rem;
}


.dashicons,.dashicons-before:before,[class*=" medical-icon-"],[class^=medical-icon-]{line-height:1;font-weight:400;font-style:normal;speak:none;text-transform:none;}
@font-face{font-display:swap;font-family:webfont-medical-icons;src:url(/fonts/webfont-medical-icons.eot);src:url(/fonts/webfont-medical-icons.eot?#iefix) format("embedded-opentype"),url(/fonts/webfont-medical-icons.woff) format("woff"),url(/fonts/webfont-medical-icons.ttf) format("truetype"),url(/fonts/webfont-medical-icons.svg#webfont-medical-icons) format("svg");font-weight:400;font-style:normal;}[class*=" medical-icon-"],[class^=medical-icon-]{font-family:webfont-medical-icons;font-variant:normal}.medical-icon-i-womens-health:before{content:"\e600"}.medical-icon-i-waiting-area:before{content:"\e601"}.medical-icon-i-volume-control:before{content:"\e602"}.medical-icon-i-ultrasound:before{content:"\e603"}.medical-icon-i-text-telephone:before{content:"\e604"}.medical-icon-i-surgery:before{content:"\e605"}.medical-icon-i-stairs:before{content:"\e606"}.medical-icon-i-radiology:before{content:"\e607"}.medical-icon-i-physical-therapy:before{content:"\e608"}.medical-icon-i-pharmacy:before{content:"\e609"}.medical-icon-i-pediatrics:before{content:"\e60a"}.medical-icon-i-pathology:before{content:"\e60b"}.medical-icon-i-outpatient:before{content:"\e60c"}.medical-icon-i-mental-health:before{content:"\e60d"}.medical-icon-i-medical-records:before{content:"\e60e"}.medical-icon-i-medical-library:before{content:"\e60f"}.medical-icon-i-mammography:before{content:"\e610"}.medical-icon-i-laboratory:before{content:"\e611"}.medical-icon-i-labor-delivery:before{content:"\e612"}.medical-icon-i-immunizations:before{content:"\e613"}.medical-icon-i-imaging-root-category:before{content:"\e614"}.medical-icon-i-imaging-alternative-pet:before{content:"\e615"}.medical-icon-i-imaging-alternative-mri:before{content:"\e616"}.medical-icon-i-imaging-alternative-mri-two:before{content:"\e617"}.medical-icon-i-imaging-alternative-ct:before{content:"\e618"}.medical-icon-i-fire-extinguisher:before{content:"\e619"}.medical-icon-i-family-practice:before{content:"\e61a"}.medical-icon-i-emergency:before{content:"\e61b"}.medical-icon-i-elevators:before{content:"\e61c"}.medical-icon-i-ear-nose-throat:before{content:"\e61d"}.medical-icon-i-drinking-fountain:before{content:"\e61e"}.medical-icon-i-cardiology:before{content:"\e61f"}.medical-icon-i-billing:before{content:"\e620"}.medical-icon-i-anesthesia:before{content:"\e621"}.medical-icon-i-ambulance:before{content:"\e622"}.medical-icon-i-alternative-complementary:before{content:"\e623"}.medical-icon-i-administration:before{content:"\e624"}.medical-icon-i-social-services:before{content:"\e625"}.medical-icon-i-smoking:before{content:"\e626"}.medical-icon-i-restrooms:before{content:"\e627"}.medical-icon-i-restaurant:before{content:"\e628"}.medical-icon-i-respiratory:before{content:"\e629"}.medical-icon-i-registration:before{content:"\e62a"}.medical-icon-i-oncology:before{content:"\e62b"}.medical-icon-i-nutrition:before{content:"\e62c"}.medical-icon-i-nursery:before{content:"\e62d"}.medical-icon-i-no-smoking:before{content:"\e62e"}.medical-icon-i-neurology:before{content:"\e62f"}.medical-icon-i-mri-pet:before{content:"\e630"}.medical-icon-i-interpreter-services:before{content:"\e631"}.medical-icon-i-internal-medicine:before{content:"\e632"}.medical-icon-i-intensive-care:before{content:"\e633"}.medical-icon-i-inpatient:before{content:"\e634"}.medical-icon-i-information-us:before{content:"\e635"}.medical-icon-i-infectious-diseases:before{content:"\e636"}.medical-icon-i-hearing-assistance:before{content:"\e637"}.medical-icon-i-health-services:before{content:"\e638"}.medical-icon-i-health-education:before{content:"\e639"}.medical-icon-i-gift-shop:before{content:"\e63a"}.medical-icon-i-genetics:before{content:"\e63b"}.medical-icon-i-first-aid:before{content:"\e63c"}.medical-icon-i-dermatology:before{content:"\e63d"}.medical-icon-i-dental:before{content:"\e63e"}.medical-icon-i-coffee-shop:before{content:"\e63f"}.medical-icon-i-chapel:before{content:"\e640"}.medical-icon-i-cath-lab:before{content:"\e641"}.medical-icon-i-care-staff-area:before{content:"\e642"}.medical-icon-i-accessibility:before{content:"\e643"}.medical-icon-i-diabetes-education:before{content:"\e644"}.medical-icon-i-hospital:before{content:"\e645"}.medical-icon-i-kidney:before{content:"\e646"}.medical-icon-i-ophthalmology:before{content:"\e647"}.medical-icon-womens-health:before{content:"\e648"}.medical-icon-waiting-area:before{content:"\e649"}.medical-icon-volume-control:before{content:"\e64a"}.medical-icon-ultrasound:before{content:"\e64b"}.medical-icon-text-telephone:before{content:"\e64c"}.medical-icon-surgery:before{content:"\e64d"}.medical-icon-stairs:before{content:"\e64e"}.medical-icon-radiology:before{content:"\e64f"}.medical-icon-physical-therapy:before{content:"\e650"}.medical-icon-pharmacy:before{content:"\e651"}.medical-icon-pediatrics:before{content:"\e652"}.medical-icon-pathology:before{content:"\e653"}.medical-icon-outpatient:before{content:"\e654"}.medical-icon-ophthalmology:before{content:"\e655"}.medical-icon-mental-health:before{content:"\e656"}.medical-icon-medical-records:before{content:"\e657"}.medical-icon-medical-library:before{content:"\e658"}.medical-icon-mammography:before{content:"\e659"}.medical-icon-laboratory:before{content:"\e65a"}.medical-icon-labor-delivery:before{content:"\e65b"}.medical-icon-kidney:before{content:"\e65c"}.medical-icon-immunizations:before{content:"\e65d"}.medical-icon-imaging-root-category:before{content:"\e65e"}.medical-icon-imaging-alternative-pet:before{content:"\e65f"}.medical-icon-imaging-alternative-mri:before{content:"\e660"}.medical-icon-imaging-alternative-mri-two:before{content:"\e661"}.medical-icon-imaging-alternative-ct:before{content:"\e662"}.medical-icon-hospital:before{content:"\e663"}.medical-icon-fire-extinguisher:before{content:"\e664"}.medical-icon-family-practice:before{content:"\e665"}.medical-icon-emergency:before{content:"\e666"}.medical-icon-elevators:before{content:"\e667"}.medical-icon-ear-nose-throat:before{content:"\e668"}.medical-icon-drinking-fountain:before{content:"\e669"}.medical-icon-diabetes-education:before{content:"\e66a"}.medical-icon-cardiology:before{content:"\e66b"}.medical-icon-billing:before{content:"\e66c"}.medical-icon-anesthesia:before{content:"\e66d"}.medical-icon-ambulance:before{content:"\e66e"}.medical-icon-alternative-complementary:before{content:"\e66f"}.medical-icon-administration:before{content:"\e670"}.medical-icon-accessibility:before{content:"\e671"}.medical-icon-social-services:before{content:"\e672"}.medical-icon-smoking:before{content:"\e673"}.medical-icon-restrooms:before{content:"\e674"}.medical-icon-restaurant:before{content:"\e675"}.medical-icon-respiratory:before{content:"\e676"}.medical-icon-oncology:before{content:"\e677"}.medical-icon-nutrition:before{content:"\e678"}.medical-icon-nursery:before{content:"\e679"}.medical-icon-no-smoking:before{content:"\e67a"}.medical-icon-neurology:before{content:"\e67b"}.medical-icon-mri-pet:before{content:"\e67c"}.medical-icon-interpreter-services:before{content:"\e67d"}.medical-icon-internal-medicine:before{content:"\e67e"}.medical-icon-intensive-care:before{content:"\e67f"}.medical-icon-inpatient:before{content:"\e680"}.medical-icon-information-us:before{content:"\e681"}.medical-icon-infectious-diseases:before{content:"\e682"}.medical-icon-hearing-assistance:before{content:"\e683"}.medical-icon-health-services:before{content:"\e684"}.medical-icon-health-education:before{content:"\e685"}.medical-icon-gift-shop:before{content:"\e686"}.medical-icon-genetics:before{content:"\e687"}.medical-icon-first-aid:before{content:"\e688"}.medical-icon-dental:before{content:"\e689"}.medical-icon-coffee-shop:before{content:"\e68a"}.medical-icon-chapel:before{content:"\e68b"}.medical-icon-cath-lab:before{content:"\e68c"}.medical-icon-care-staff-area:before{content:"\e68d"}.medical-icon-registration:before{content:"\e68e"}.medical-icon-dermatology:before{content:"\e68f"}
@font-face{font-display:swap;font-family:dashicons;src:url(/fonts/dashicons.eot?0c67a555123cca679b9c90c4ecf6d0d3);src:url(/fonts/dashicons.eot?#iefix) format("embedded-opentype"),url(/fonts/dashicons.woff2) format("woff2"),url(/fonts/dashicons.ttf?0c67a555123cca679b9c90c4ecf6d0d3) format("truetype");font-weight:400;font-style:normal;}.dashicons,.dashicons-before:before{font-family:dashicons;display:inline-block;text-decoration:inherit;text-rendering:auto;width:20px;height:20px;font-size:20px;vertical-align:top;text-align:center;}.dashicons-admin-appearance:before{content:"\f100"}.dashicons-admin-collapse:before{content:"\f148"}.dashicons-admin-comments:before{content:"\f101"}.dashicons-admin-customizer:before{content:"\f540"}.dashicons-admin-generic:before{content:"\f111"}.dashicons-admin-home:before{content:"\f102"}.dashicons-admin-links:before{content:"\f103"}.dashicons-admin-media:before{content:"\f104"}.dashicons-admin-multisite:before{content:"\f541"}.dashicons-admin-network:before{content:"\f112"}.dashicons-admin-page:before{content:"\f105"}.dashicons-admin-plugins:before{content:"\f106"}.dashicons-admin-post:before{content:"\f109"}.dashicons-admin-settings:before{content:"\f108"}.dashicons-admin-site-alt:before{content:"\f11d"}.dashicons-admin-site-alt2:before{content:"\f11e"}.dashicons-admin-site-alt3:before{content:"\f11f"}.dashicons-admin-site:before{content:"\f319"}.dashicons-admin-tools:before{content:"\f107"}.dashicons-admin-users:before{content:"\f110"}.dashicons-album:before{content:"\f514"}.dashicons-align-center:before{content:"\f134"}.dashicons-align-left:before{content:"\f135"}.dashicons-align-none:before{content:"\f138"}.dashicons-align-right:before{content:"\f136"}.dashicons-analytics:before{content:"\f183"}.dashicons-archive:before{content:"\f480"}.dashicons-arrow-down-alt:before{content:"\f346"}.dashicons-arrow-down-alt2:before{content:"\f347"}.dashicons-arrow-down:before{content:"\f140"}.dashicons-arrow-left-alt:before{content:"\f340"}.dashicons-arrow-left-alt2:before{content:"\f341"}.dashicons-arrow-left:before{content:"\f141"}.dashicons-arrow-right-alt:before{content:"\f344"}.dashicons-arrow-right-alt2:before{content:"\f345"}.dashicons-arrow-right:before{content:"\f139"}.dashicons-arrow-up-alt:before{content:"\f342"}.dashicons-arrow-up-alt2:before{content:"\f343"}.dashicons-arrow-up:before{content:"\f142"}.dashicons-art:before{content:"\f309"}.dashicons-awards:before{content:"\f313"}.dashicons-backup:before{content:"\f321"}.dashicons-book-alt:before{content:"\f331"}.dashicons-book:before{content:"\f330"}.dashicons-buddicons-activity:before{content:"\f452"}.dashicons-buddicons-bbpress-logo:before{content:"\f12b"}.dashicons-buddicons-buddypress-logo:before{content:"\f448"}.dashicons-buddicons-community:before{content:"\f453"}.dashicons-buddicons-forums:before{content:"\f449"}.dashicons-buddicons-friends:before{content:"\f454"}.dashicons-buddicons-groups:before{content:"\f456"}.dashicons-buddicons-pm:before{content:"\f457"}.dashicons-buddicons-replies:before{content:"\f451"}.dashicons-buddicons-topics:before{content:"\f450"}.dashicons-buddicons-tracking:before{content:"\f455"}.dashicons-building:before{content:"\f512"}.dashicons-businessman:before{content:"\f338"}.dashicons-calendar-alt:before{content:"\f508"}.dashicons-calendar:before{content:"\f145"}.dashicons-camera:before{content:"\f306"}.dashicons-carrot:before{content:"\f511"}.dashicons-cart:before{content:"\f174"}.dashicons-category:before{content:"\f318"}.dashicons-chart-area:before{content:"\f239"}.dashicons-chart-bar:before{content:"\f185"}.dashicons-chart-line:before{content:"\f238"}.dashicons-chart-pie:before{content:"\f184"}.dashicons-clipboard:before{content:"\f481"}.dashicons-clock:before{content:"\f469"}.dashicons-cloud:before{content:"\f176"}.dashicons-controls-back:before{content:"\f518"}.dashicons-controls-forward:before{content:"\f519"}.dashicons-controls-pause:before{content:"\f523"}.dashicons-controls-play:before{content:"\f522"}.dashicons-controls-repeat:before{content:"\f515"}.dashicons-controls-skipback:before{content:"\f516"}.dashicons-controls-skipforward:before{content:"\f517"}.dashicons-controls-volumeoff:before{content:"\f520"}.dashicons-controls-volumeon:before{content:"\f521"}.dashicons-dashboard:before{content:"\f226"}.dashicons-desktop:before{content:"\f472"}.dashicons-dismiss:before{content:"\f153"}.dashicons-download:before{content:"\f316"}.dashicons-edit:before{content:"\f464"}.dashicons-editor-aligncenter:before{content:"\f207"}.dashicons-editor-alignleft:before{content:"\f206"}.dashicons-editor-alignright:before{content:"\f208"}.dashicons-editor-bold:before{content:"\f200"}.dashicons-editor-break:before{content:"\f474"}.dashicons-editor-code:before{content:"\f475"}.dashicons-editor-contract:before{content:"\f506"}.dashicons-editor-customchar:before{content:"\f220"}.dashicons-editor-expand:before{content:"\f211"}.dashicons-editor-help:before{content:"\f223"}.dashicons-editor-indent:before{content:"\f222"}.dashicons-editor-insertmore:before{content:"\f209"}.dashicons-editor-italic:before{content:"\f201"}.dashicons-editor-justify:before{content:"\f214"}.dashicons-editor-kitchensink:before{content:"\f212"}.dashicons-editor-ltr:before{content:"\f129"}.dashicons-editor-ol:before{content:"\f204"}.dashicons-editor-outdent:before{content:"\f221"}.dashicons-editor-paragraph:before{content:"\f476"}.dashicons-editor-paste-text:before{content:"\f217"}.dashicons-editor-paste-word:before{content:"\f216"}.dashicons-editor-quote:before{content:"\f205"}.dashicons-editor-removeformatting:before{content:"\f218"}.dashicons-editor-rtl:before{content:"\f320"}.dashicons-editor-spellcheck:before{content:"\f210"}.dashicons-editor-strikethrough:before{content:"\f224"}.dashicons-editor-table:before{content:"\f535"}.dashicons-editor-textcolor:before{content:"\f215"}.dashicons-editor-ul:before{content:"\f203"}.dashicons-editor-underline:before{content:"\f213"}.dashicons-editor-unlink:before{content:"\f225"}.dashicons-editor-video:before{content:"\f219"}.dashicons-email-alt:before{content:"\f466"}.dashicons-email-alt2:before{content:"\f10a"}.dashicons-email:before{content:"\f465"}.dashicons-excerpt-view:before{content:"\f164"}.dashicons-external:before{content:"\f504"}.dashicons-facebook-alt:before{content:"\f305"}.dashicons-facebook:before{content:"\f304"}.dashicons-feedback:before{content:"\f175"}.dashicons-filter:before{content:"\f536"}.dashicons-flag:before{content:"\f227"}.dashicons-format-aside:before{content:"\f123"}.dashicons-format-audio:before{content:"\f127"}.dashicons-format-chat:before{content:"\f125"}.dashicons-format-gallery:before{content:"\f161"}.dashicons-format-image:before{content:"\f128"}.dashicons-format-quote:before{content:"\f122"}.dashicons-format-status:before{content:"\f130"}.dashicons-format-video:before{content:"\f126"}.dashicons-forms:before{content:"\f314"}.dashicons-googleplus:before{content:"\f462"}.dashicons-grid-view:before{content:"\f509"}.dashicons-groups:before{content:"\f307"}.dashicons-hammer:before{content:"\f308"}.dashicons-heart:before{content:"\f487"}.dashicons-hidden:before{content:"\f530"}.dashicons-id-alt:before{content:"\f337"}.dashicons-id:before{content:"\f336"}.dashicons-image-crop:before{content:"\f165"}.dashicons-image-filter:before{content:"\f533"}.dashicons-image-flip-horizontal:before{content:"\f169"}.dashicons-image-flip-vertical:before{content:"\f168"}.dashicons-image-rotate-left:before{content:"\f166"}.dashicons-image-rotate-right:before{content:"\f167"}.dashicons-image-rotate:before{content:"\f531"}.dashicons-images-alt:before{content:"\f232"}.dashicons-images-alt2:before{content:"\f233"}.dashicons-index-card:before{content:"\f510"}.dashicons-info:before{content:"\f348"}.dashicons-laptop:before{content:"\f547"}.dashicons-layout:before{content:"\f538"}.dashicons-leftright:before{content:"\f229"}.dashicons-lightbulb:before{content:"\f339"}.dashicons-list-view:before{content:"\f163"}.dashicons-location-alt:before{content:"\f231"}.dashicons-location:before{content:"\f230"}.dashicons-lock:before{content:"\f160"}.dashicons-marker:before{content:"\f159"}.dashicons-media-archive:before{content:"\f501"}.dashicons-media-audio:before{content:"\f500"}.dashicons-media-code:before{content:"\f499"}.dashicons-media-default:before{content:"\f498"}.dashicons-media-document:before{content:"\f497"}.dashicons-media-interactive:before{content:"\f496"}.dashicons-media-spreadsheet:before{content:"\f495"}.dashicons-media-text:before{content:"\f491"}.dashicons-media-video:before{content:"\f490"}.dashicons-megaphone:before{content:"\f488"}.dashicons-menu-alt:before{content:"\f10b"}.dashicons-menu:before{content:"\f333"}.dashicons-microphone:before{content:"\f482"}.dashicons-migrate:before{content:"\f310"}.dashicons-minus:before{content:"\f460"}.dashicons-money:before{content:"\f526"}.dashicons-move:before{content:"\f545"}.dashicons-nametag:before{content:"\f484"}.dashicons-networking:before{content:"\f325"}.dashicons-no-alt:before{content:"\f335"}.dashicons-no:before{content:"\f158"}.dashicons-palmtree:before{content:"\f527"}.dashicons-paperclip:before{content:"\f546"}.dashicons-performance:before{content:"\f311"}.dashicons-phone:before{content:"\f525"}.dashicons-playlist-audio:before{content:"\f492"}.dashicons-playlist-video:before{content:"\f493"}.dashicons-plus-alt:before{content:"\f502"}.dashicons-plus-light:before{content:"\f10c"}.dashicons-plus:before{content:"\f132"}.dashicons-portfolio:before{content:"\f322"}.dashicons-post-status:before{content:"\f173"}.dashicons-pressthis:before{content:"\f157"}.dashicons-products:before{content:"\f312"}.dashicons-randomize:before{content:"\f503"}.dashicons-redo:before{content:"\f172"}.dashicons-rest-api:before{content:"\f124"}.dashicons-rss:before{content:"\f303"}.dashicons-schedule:before{content:"\f489"}.dashicons-screenoptions:before{content:"\f180"}.dashicons-search:before{content:"\f179"}.dashicons-share-alt:before{content:"\f240"}.dashicons-share-alt2:before{content:"\f242"}.dashicons-share:before{content:"\f237"}.dashicons-shield-alt:before{content:"\f334"}.dashicons-shield:before{content:"\f332"}.dashicons-slides:before{content:"\f181"}.dashicons-smartphone:before{content:"\f470"}.dashicons-smiley:before{content:"\f328"}.dashicons-sort:before{content:"\f156"}.dashicons-sos:before{content:"\f468"}.dashicons-star-empty:before{content:"\f154"}.dashicons-star-filled:before{content:"\f155"}.dashicons-star-half:before{content:"\f459"}.dashicons-sticky:before{content:"\f537"}.dashicons-store:before{content:"\f513"}.dashicons-tablet:before{content:"\f471"}.dashicons-tag:before{content:"\f323"}.dashicons-tagcloud:before{content:"\f479"}.dashicons-testimonial:before{content:"\f473"}.dashicons-text:before{content:"\f478"}.dashicons-thumbs-down:before{content:"\f542"}.dashicons-thumbs-up:before{content:"\f529"}.dashicons-tickets-alt:before{content:"\f524"}.dashicons-tickets:before{content:"\f486"}.dashicons-tide:before{content:"\f10d"}.dashicons-translation:before{content:"\f326"}.dashicons-trash:before{content:"\f182"}.dashicons-twitter:before{content:"\f301"}.dashicons-undo:before{content:"\f171"}.dashicons-universal-access-alt:before{content:"\f507"}.dashicons-universal-access:before{content:"\f483"}.dashicons-unlock:before{content:"\f528"}.dashicons-update:before{content:"\f463"}.dashicons-upload:before{content:"\f317"}.dashicons-vault:before{content:"\f178"}.dashicons-video-alt:before{content:"\f234"}.dashicons-video-alt2:before{content:"\f235"}.dashicons-video-alt3:before{content:"\f236"}.dashicons-visibility:before{content:"\f177"}.dashicons-warning:before{content:"\f534"}.dashicons-welcome-add-page:before{content:"\f133"}.dashicons-welcome-comments:before{content:"\f117"}.dashicons-welcome-learn-more:before{content:"\f118"}.dashicons-welcome-view-site:before{content:"\f115"}.dashicons-welcome-widgets-menus:before{content:"\f116"}.dashicons-welcome-write-blog:before{content:"\f119"}.dashicons-wordpress-alt:before{content:"\f324"}.dashicons-wordpress:before{content:"\f120"}.dashicons-yes-alt:before{content:"\f12a"}.dashicons-yes:before{content:"\f147"}.dashicons-format-links:before{content:"\f103"}.dashicons-welcome-edit-page:before{content:"\f119"}.dashicons-format-standard:before{content:"\f109"}